<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.0/css/bootstrap.min.css">
        
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
        
    </head>
    <body>
        {% if app.user %}
            <div class="text-center mb-1 p-1">
                You are logged in with email : {{ app.user.email }}
            </div>
        {% endif %}
        
        
        <script src="https://code.jquery.com/jquery-3.3.1.min.js"
                integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
                crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js"></script>

        <script>
            $('body').on( 'click', '.flash-message-close', function () {
                $(this).parent().remove();
            })
        </script>        
        <div class = 'container'>
            {% if app.user %}
                <div class="float-right p-1">
                    <a class="btn btn-sm btn-danger" href="{{ path('app_logout') }}">Logout</a>
                </div>
            {% endif %}
            {% for message in app.flashes('message') %}
                <div class="alert alert-info flash-message alert-dismissible" role="alert">
                <button type="button" class="flash-message-close close" data-dismiss="alert">
                    <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                </button>
                    {{ message }}
                </div>
            {% endfor %}
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}


        </div>
    </body>
</html>
